.advantagesWrapper {
    display: flex;
    flex-direction: column;
    background-color: #F2EEE9;
    padding-top: 20px;
}

.advantages {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.advantages .investDescription {
    padding-top: 10px;
    font-size: 16px;
    line-height: 28px;
}

.advantages p {
    color: rgb(98, 93, 91);
}

.advantages h2,
.advantageItem h3 {
    color: #e1886c;
}

.advantages a {
    margin-bottom: 50px;
}

.advantageItem {
    padding-bottom: 20px;

}

.advantageItem p {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 25px;
    line-height: 21px;
    text-align: left;
}

.advantageItem h3 {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.advantageItem img {
    width: 64px;
    height: 64px;
}

.sectionDividerImg{
    padding: 40px 0 0;
    width: 100%;
    height: 400px;
    max-height: 50%;
    object-fit: cover;
    align-self: center;
}