.apartmentsSection {
    background-color: #625D5B;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.apartments {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    justify-content: space-evenly;
    gap: 20px; /* Space between apartments */
}

.apartments .div {
    max-width: 33%;
}

.hurryToBookMessage{
    color: white;
    margin-top: 20px;
    text-align: center;
}

.apartmentsSection h3 {
    color: white;
}

@media (min-width: 800px) {
    .apartments {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
