.header {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*align-items: left;*/
    /*justify-content: left;*/
    background-color: #363030;
    color: white;
    text-align: center;
}

.headerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header .logo img{
    padding-top: 50px;
    width: 100px;
}

.header .title {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
}

/*.header .title,*/
/*.header .subtitle,*/
/*.header .description{*/
/*    max-width: 400px;*/
/*}*/

.header .subtitle {
    padding: 3px 10px;
    line-height: 1.5;
    font-size: 26px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    /*padding: 3px 10px;*/
    width: 268px;
    /*font-size: 1.2rem;*/
    /*color: #3a8a63;*/
    /*background-color: #3a8a63;*/
}

.header button, .header .headerText a{
    /*width: 100%;*/
    /*max-width: 268px;*/
    /*font-size: 18px;*/
    /*!*height: 59.788px;*!*/
    /*height: 50px;*/
    /*margin: 40px 0 0;*/
    /*!*padding: 10px 40px;*!*/
    /*text-decoration: none;*/
    /*align-content: center;*/
    margin-bottom: 50px;
}

.header .description{

    font-size: 18px;
    padding: 20px 0 0;
}


@media (max-width: 800px) {
    .header .headerImg{
        margin: 0;
    }
    .headerText {
        padding: 10px;
    }
}
