*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}

.orangeButton{
    border: none;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.378px;
    background: #E1886C;
    transition: all 0.5s;


    width: 100%;
    max-width: 268px;
    font-size: 16px;
    /*height: 59.788px;*/
    height: 50px;
    margin: 40px 0 0;
    /*padding: 10px 40px;*/
    text-decoration: none;
    align-content: center;
}

.sectionDividerImg{
    padding: 40px 0 0;
    width: 100%;
    /*max-width: 100%;*/
    max-width: 800px;
    align-self: center;
}

.orangeButton:hover{
    background: #3A8A63;
    transition: all 0.5s;
}

.accent {
    text-transform: uppercase;
    background-color: #3a8a63;
}